<footer>
    <hr>
        <h1>Contacto</h1>

            <p>Puedes comunicarte con nosotros a través del correo electrónico:
        
            <a href="nodo@catamarcacapital.com">Nodo Tecnológico</a>.</p>
    
    

            <p>&copy; by Trabajo Final para el Nodo Tecnológico correspondiente a la Diplomatura Full Stack Javascript periodo 2024-2025</p>

</footer>