<nav>
    <div>
        

        <ul>
            <li>
                <a href="/api/inicio">
                    Página de Inicio
                </a>
            </li>
            <li>
                <a href="/api/agentes">
                    Lista de Agentes
                </a>
            </li>
            <li>
                <a href="/api/crear">
                    Agregar Agentes
                </a>
            </li>
         
            
        </ul>

    </div>

    <hr>

</nav>