<section>
    <h1>Bienvenidos a nuestra web de liquidación de haberes de la <strong>Municipalidad de San Fernando del Valle de Catamarca</strong></h1>

    <p >Depende del perfil de usuario podrán dar de <a href="#"><strong>alta a empleados</strong></a>, <a href="#"><strong>editar sus datos</strong></a>, <a href="#"><strong>dar de baja</strong></a> (según el caso de tal motivo), o simplemente <a href="#"><strong>listar todos los empleados</strong></a>.

</section>